*{
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer{
    width: 100%;
    height: auto;
    display: grid;
    gap: 5vh;
    margin: 5vh 0;
}

footer > div > a > button{
    width: 25vh;
    height: 4vh;
    background-color: brown;
    font-size: 18px;
}

table,td,th{
    background-color:rgb(100, 203, 237);
    text-align: center;
    border: solid 1px black;
    height: 5vh;
}

i{
    color:red;
}

.iconos > a{
    display:inline-block;
    margin: 10px;
}


